---
layout: homepages
---
<style>
#button {
  background-color: #025E86;
  color: white;
  padding: 10px;
}

#center-text {
  vertical-align: middle;
  display: table-cell;
}

#up-text {
  vertical-align: top;
}

#inbox {
  vertical-align: middle;
  color: white;
}

@media screen and (max-width: 600px) {
  #tiny {
    display: table;
  }
  .carouselTable {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #tiny {
    display: none;
  }
  .carouselTable {
    display: table;
  }
}

@media screen and (max-width: 1010px) and (min-width: 900px) {
  .carouselTable {
    display: none;
  }
  #tiny {
    display: table;
  }
}

@media screen and (min-width: 1010px) {
  .carouselTable {
    display: table;
  }
  #tiny {
    display:none;
  }
}

@media screen and (min-width: 900px) {
  .normwidthaction {
    display: table;
  }
  .smallwidthaction {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .normwidthaction {
    display: none;
  }
  .smallwidthaction {
    display: table;
  }
}

.card {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;

  display: inline;
  vertical-align: top;
  float: none;
  margin: 0px;
  padding: 0px;

  white-space:0;
}

.imageCard {
  float: left;
  margin: 0px;
  padding: 0px;
  white-space:0;
}

@keyframes carousel{
  0%    { left:0; }
  22%   { left:0; }
  25% { left:-100%; }
  47% { left:-100%; }
  50%   { left:-200%; }
  72%   { left:-200%; }
  75% { left:-300%; }
  97% { left:-300%; }
  120%  { left:0; }
}

@-webkit-keyframes carousel{
  0%    { left:0; }
  22%   { left:0; }
  25%   { left:-100%; }
  47%   { left:-100%; }
  50%   { left:-200%; }
  72%   { left:-200%; }
  75%   { left:-300%; }
  97%   { left:-300%; }
  120%  { left:0; }
}

.inlineblock {
  position: relative;
  left: 0px;

  display: flex;
  width: 100%;

  -webkit-animation: carousel 45s infinite; /* Chrome, Safari, Opera */
  animation: carousel 45s infinite;
}

.card:hover {
  cursor: pointer;
}

.cardInfo:hover {
  background: rgba(0, 0, 0, 0.75);
}

.cardInfo {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 35%;

  display: table-cell;
  vertical-align: bottom;

  text-align: center;

  color: white;

  padding: 10px;

  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;

  background: rgba(0, 0, 0, 0.5);
}

.cardTitle {
  text-shadow: 3px 3px 5px black;
  font-weight: bolder;
}

.cardInfoText {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.home {
  position: relative;
  left: 0px;
  right: 0px;
}

</style>

<div class="home">
    <table class="carouselTable" cellspacing="0px" cellpadding="0px" width="100%">
      <tr width="100%" >
        <td width="100%">
          <div width="100%" style="overflow: hidden;">
            <div class="inlineblock">
              {% for card in site.data.cards %}
              <div onClick="location.href='{{ card.link }}'" width="25%" class="card">
                <img class="imgCard" width="100%" src="{{ card.imageSource }}"></img>
                <div class="cardInfo">
                  <h1 class="cardTitle">{{ card.title }}</h1>
                  <span style="width: 95%;position:absolute; bottom:20px; left: 2.5%;">
                    <h4 class="cardInfoText">{{ card.info }}</h4>
                  </span>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table id="tiny" cellpadding="0px" style="background-color: white;">
      <tr cellpadding="0px">
        <td cellpadding="0px">
          <table width="100%">
            <tr width="100%">
              <td align="center">
                <div height="100%" width="100%">
                  <h1 id="center-text">Check out what's going on...</h2>
                </div>
              </td>
            </tr>
          </table>

          <table cellpadding="5px" cellspacing="5px" width="100%">
            {% for card in site.data.cards %}
              <tr>
                <td>
                  <img width="100%" src="{{ card.fullImage }}"></img>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top;" width="25%" height="100%">
                  <div style="vertical-align: text-top;">
                      <h2><a href="{{ card.link }}">{{ card.title }}</a></h2>
                      {{ card.info }}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
  <br>
    <table width="100%">
      <tr>
        <td>
          <h1 style="margin-left: 20px;" width="100%" height="100%">Latest Updates</h1>
        </td>
      </tr>
    </table>
    <table width="100%" style="background-color: white;" cellpadding="20px">
      <tr>
        <td>
          <ul class="post-list">
            {% for post in site.posts limit: 5 %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</span>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>
          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </td>
      </tr>
    </table>
  <br>
  <br>
</div>
</div>

<!--
    <table class="normwidthaction titleblue" border="0px" height="100px" cellspacing="0px" width="100%">
      <tr height="100%">
        <td id="inbox">
          <div>
            <h1 class="button-text" width="100%" height="100%">Looking for Robotics Summer Camp?</h1>
          </div>
        </td>
        <td style="vertical-align: top;" align="center">
          <div class="hoverAnimate" onClick="javascript:location.href=/camp/" id="real-button" height="100%" width="100%">
            <h2 height="100%" class="button-text"><b>FIND OUT MORE</b></h1>
          </div>
        </td>
      </tr>
    </table>
    <table class="smallwidthaction titleblue" border="0px" height="100px" cellspacing="0px" width="100%">
      <tr height="100%">
        <td align="center" id="inbox">
          <div>
            <h1 class="button-text" width="100%" height="100%">Looking for Robotics Summer Camp?</h1>
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;" align="center">
          <div class="hoverAnimate" onClick="javascript:location.href='/camp/'" id="real-button" height="100%" width="100%">
            <h2 height="100%" class="button-text"><b>FIND OUT MORE</b></h1>
          </div>
        </td>
      </tr>
    </table>
  -->
