---
layout: homepage
title: Aluminum Narwhals
---

<div style="background: white" class="home">
    <table class="carouselTable" cellspacing="0px" cellpadding="0px" width="100%">
      <tr width="100%" >
        <td width="100%">
          <div width="100%" style="overflow: hidden;">
            <div class="inlineblock">
              {% for card in site.data.cards %}
              <div onClick="location.href='{{ card.link }}'" width="25%" class="card">
                <img class="imgCard" width="100%" src="{{ card.imageSource }}"></img>
                <div class="cardInfo">
                  <table cellpadding="15px" width="100%" height="100%">
                    <tr height="100%">
                      <td style="text-align: left" height="100%" width="40%">
                        <span style="text-align:center;display:inline-block;vertical-align: bottom;"><h2 class="cardTitle">{{ card.title }}</h2></span>
                      </td>
                      <td style="text-align: right" height="100%" width="60%">
                        <span class="cardInfoText" style="display:inline-block;vertical-align: bottom; font-size: 20px;">{{ card.info }}</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table id="tiny" cellpadding="0px" style="background: grey; color: black">
      <tr cellpadding="0px">
        <td cellpadding="0px">
          <table width="100%">
            <tr width="100%">
              <td align="center">
                <div height="100%" width="100%">
                  <h2 style="color: white;" id="center-text">Check out what's going on...</h2>
                </div>
              </td>
            </tr>
          </table>

          <table cellpadding="15px" cellspacing="10px" width="100%">
            {% for card in site.data.cards %}
              <tr>
                <td onClick="javascript:location.href='{{ card.link }}'" class="indexpost hover_animate" width="33%" style="vertical-align: top; padding: 10px;" width="25%" height="100%">
                  <div style="vertical-align: text-top;">
                    <h3>{{ card.title }}</h3>
                    <img width="100%" class="small_card_image hover_animate" src="{{ card.fullImage }}" />
                    <br>
                    {{ card.info }}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>

        </td>
      </tr>
    </table>

    <table style="table-layout:fixed" cellpadding="0px" cellspacing="0px" width="100%">
      <tr width="100%">
        <td align="center" width="100%" style="padding: 15px;">
          <div width="100%">
            <h4>Team 3128 is a student-run, high-school robotics team from Canyon Crest Academy.</h4>
          </div>
        </td>
      </tr>

      <tr width="100%" style="background: #e6e6e6">
        <td>
          <table width="100%">
            <tr width="100%">
              <td style="vertical-align: top; width: 80px;">
                <img src="/assets/graphics/quote.png" style="margin-right: 10px; margin-left:10px; margin-top:10px; margin-bottom:35px; opacity: .35"></img>
              </td>
              <td style="vertical-align: top;">
                <h4 style="margin-right: 10px; margin-left:20px; margin-top:35px; margin-bottom:35px"><i>Our mission is to provide a positive high school team experience through robotics while inspiring intellectual creativity, fostering a passion for science, technology, and engineering, and developing critical thinking, problem solving and team building skills.</i></h4>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr width="100%" class="header_bar">
        <td>
          <h1 class="header_bar">What We Do</h1>
        </td>
      </tr>

      <tr width="100%">
        <td>
          <table width="100%" cellpadding="10px">
            <tr width="100%">
              <td width="25%" class="homeimage">
                <a href="http://www.firstinspires.org/robotics/frc"><img src="/assets/homepage/frc.png"></img></a>
              </td>
              <td width="75%">
                <h2>FIRST Robotics Competiton</h2>
                Our team competes in the FIRST Robotics Competition, a program created by FIRST - For Recognition and Inspiration of Science and Technology. FIRST's founder Dean Kamen had two goals; one was to make robotics a competitive sport that drove students of all grade levels to strive to build and design amazing machines, but the other was to create a cooperative environment where innovation and creativity could thrive and students could become leaders in science and technology. The FIRST Robotics Competition was created for high school students to build 100-pound robots to form alliances and compete with teams from around the world.
                <br><br>
                <a href="http://www.firstinspires.org/robotics/frc"><div class="button hover_animate" align="center">Learn more</div></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr width="100%" style="background: #e6e6e6">
        <td>
          <table width="100%" cellpadding="10px">
            <tr width="100%">
              <td width="75%">
                <h2>Robotics Summer Camp</h2>
                Over the Summer, our robotics team runs a 5-week long camp for students grades 1-8. For one week, students get to design, build, program, and drive their very own robots. Our goal as a camp is to create an atmosphere for preteens and middle school students to become aware of and excited about science, technology, engineering and math. We want to provide a safe space where students can explore and become passionate about new subjects that they might desire to pursue in middle school, high school, and possibly throughout the rest of their lives.
                <br><br>
                <a href="/camp/"><div class="button hover_animate" align="center">Learn more</div></a>
              </td>
              <td width="25%" class="homeimage">
                <a href="/camp/"><img src="/assets/homepage/camp.png"></img></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>


      <tr width="100%" class="header_bar">
        <td>
          <h1 class="header_bar">Latest Updates</h1>
        </td>
      </tr>

      <tr style="background: grey">
        <td>

          <table class="normwidthupdate" style="table-layout:fixed" width="100%" cellspacing="15px" cellpadding="20px">
            <tr width="100%" height="150px">
              {% for post in site.posts limit: 4 %}
                <td onClick="javascript:location.href='{{ post.url | prepend: site.baseurl }}'" class="indexpost hover_animate" width="25%">
                  <div>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</span>
                    <h4>{{ post.title }}</h4>
                  </div>
                </td>
              {% endfor %}
            </tr>
            <tr width="100%">
              <td colspan="4" onClick="javascript:location.href='{{ "/students/updates" | prepend: site.baseurl }}'" class="indexpost hover_animate" width="33%" style="text-align: center;vertical-align: middle; padding: 10px;">
                <h4>See more...</h4>
              </td>
            </tr>
          </table>

          <table class="smallwidthupdate" style="table-layout:fixed" width="100%" cellspacing="15px">
            {% for post in site.posts limit: 4 %}
              <tr width="100%">
                <td onClick="javascript:location.href='{{ post.url | prepend: site.baseurl }}'" class="indexpost hover_animate" width="33%">
                  <div>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</span>
                    <h4>{{ post.title }}</h4>
                  </div>
                </td>
              </tr>
            {% endfor %}
            <tr width="100%">
              <td onClick="javascript:location.href='{{ "/students/updates" | prepend: site.baseurl }}'" class="indexpost hover_animate" width="33%" style="text-align: center;vertical-align: middle; padding: 10px;">
                <h4>See more...</h4>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> <div style="margin: 15px;" class="button hover_animate" align="center">Subscribe via RSS</div></a>
        </td>
      </tr>
    </table>
</div>
