---
layout: default
---
<style>
#button {
    background-color: #025E86;
    color: white;
    padding: 10px;
}

#center-text {
    vertical-align: middle;
    display: table-cell;
}

#up-text {
    vertical-align: top;
}

#inbox {
    vertical-align: middle;
    color: white;
}
@media screen and (max-width: 675px) {
    #normalwidth {
        display: none;
    }
    #tiny {
        display: table;
    }
    #small {
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width: 675px) {
    #normalwidth {
        display: none;
    }
    #tiny {
        display: none;
    }
    #small {
        display: table;
    }
}
@media screen and (min-width: 1000px) {
    #normalwidth {
        display: table;
    }
    #tiny {
        display:none;
    }
    #small {
        display:none;
    }
}

@media screen and (min-width: 900px) {
    .normwidthaction {
        display: table;
    }
    .smallwidthaction {
    	display: none;
    }
}

@media screen and (max-width: 900px) {
    .normwidthaction {
        display: none;
    }
    .smallwidthaction {
    	display: table;
    }
}

</style>

<div class="home">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="shadow">
    <table class="normwidthaction titleblue" border="0px" height="100px" cellspacing="0px" width="100%">
        <tr height="100%">
            <td id="inbox">
                <div>
                    <h1 class="button-text" width="100%" height="100%">Looking for Robotics Summer Camp?</h1>
                </div>
            </td>
            <td style="vertical-align: top;" align="center">
                <div class="hoverAnimate" onClick="javascript:location.href=/camp/" id="real-button" height="100%" width="100%">
                    <h2 height="100%" class="button-text"><b>FIND OUT MORE</b></h1>
                </div>
            </td>
        </tr>
    </table>
    <table class="smallwidthaction titleblue" border="0px" height="100px" cellspacing="0px" width="100%">
        <tr height="100%">
            <td align="center" id="inbox">
                <div>
                    <h1 class="button-text" width="100%" height="100%">Looking for Robotics Summer Camp?</h1>
                </div>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;" align="center">
                <div class="hoverAnimate" onClick="javascript:location.href='/camp/'" id="real-button" height="100%" width="100%">
                    <h2 height="100%" class="button-text"><b>FIND OUT MORE</b></h1>
                </div>
            </td>
        </tr>
    </table>
    <table cellpadding="0px" style="background-color: white;">
    <tr cellpadding="0px">
    <td cellpadding="0px">

        <table width="100%">
            <tr width="100%">
                <td align="center">
                    <div height="100%" width="100%">
                        <h1 id="center-text">Check out what's going on...</h2>
                            </div>
                </td>
            </tr>
        </table>

        <table id="normalwidth" cellpadding="5px" cellspacing="5px" width="100%">
            <tr>
                <td align="center" width="25%">
                  <img width="100%" src={% include_relative /index-cards/card1/picture-source.md %}></img>
                </td>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card2/picture-source.md %}></img>
                </td>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card3/picture-source.md %}></img>
                </td>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card4/picture-source.md %}></img>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div style="vertical-align: text-top;">
                        {% include_relative /index-cards/card1/title.html %}
                        {% include_relative /index-cards/card1/info.md %}
                    </div>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card2/title.html %}
                      {% include_relative /index-cards/card2/info.md %}
                    </div>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card3/title.html %}
                      {% include_relative /index-cards/card3/info.md %}
                    </div>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card4/title.html %}
                      {% include_relative /index-cards/card4/info.md %}
                    </div>
                </td>
            </tr>
        </table>

        <table id="tiny" cellpadding="5px" cellspacing="5px" width="100%">
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card1/picture-source.md %}></img>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div style="vertical-align: text-top;">
                      {% include_relative /index-cards/card1/title.html %}
                      {% include_relative /index-cards/card1/info.md %}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card2/picture-source.md %}></img>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card2/title.html %}
                      {% include_relative /index-cards/card2/info.md %}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card3/picture-source.md %}></img>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card3/title.html %}
                      {% include_relative /index-cards/card3/info.md %}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card4/picture-source.md %}></img>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card4/title.html %}
                      {% include_relative /index-cards/card4/info.md %}
                    </div>
                </td>
            </tr>
        </table>

        <table id="small" cellpadding="5px" cellspacing="5px" width="100%">
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card1/picture-source.md %}></img>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div style="vertical-align: text-top;">
                      {% include_relative /index-cards/card1/title.html %}
                      {% include_relative /index-cards/card1/info.md %}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card2/picture-source.md %}></img>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card2/title.html %}
                      {% include_relative /index-cards/card2/info.md %}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card3/picture-source.md %}></img>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card3/title.html %}
                      {% include_relative /index-cards/card3/info.md %}
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" width="25%">
                    <img width="100%" src={% include_relative /index-cards/card4/picture-source.md %}></img>
                </td>
                <td style="vertical-align: top;" width="25%" height="100%">
                    <div>
                      {% include_relative /index-cards/card4/title.html %}
                      {% include_relative /index-cards/card4/info.md %}
                    </div>
                </td>
            </tr>
        </table>
    </td>
    </td>
    </table>
  </div>
    <br>
<div class="shadow">
    <table border="0px" class="titleblue" height="100px" cellspacing="0px" width="100%">
        <tr height="100%">
            <td id="inbox">
                <div>
                    <h1 class="button-text" width="100%" height="100%">Latest Updates</h1>
                </div>
            </td>
        </tr>
    </table>
    <table width="100%" style="background-color: white;" cellpadding="20px">
        <tr>
            <td>
                <ul class="post-list">
                    {% for post in site.posts limit: 5 %}
                    <li>
                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</span>
                          <h2>
                              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          </h2>
                    </li>
                    {% endfor %}
                </ul>
                <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
            </td>
        </tr>
    </table>
</div>
    <br>
    <br>
