---
layout: page
title: Sponsors
permalink: /sponsor/
---

<style>
@media screen and (max-width: 600px){
  .smallsponsors {
    display: none;
  }
  .normalsponsors {
    display: table;
  }
}

@media screen and (min-width: 600px) {
  .smallsponsors {
    display: table;
  }
  .normalsponsors {
    display: none;
  }
}
</style>

<div class="smallsponsors">
{% for sponsorlevel in site.data.sponsor_levels %}
	<table width="100%" border="0px" cellpadding="20px" cellspacing="0px">
		<tr width="100%">
			<div style="padding-top: 15px; text-align: center;background: {{ sponsorlevel.color }}; color: white; height: 100%"><span><h1>{{ sponsorlevel.level }} Sponsors</h1></span></div>
		</tr>

		{% for sponsor in site.data.sponsors %}
			{% if sponsorlevel.level == sponsor.level %}
				<tr width="100%" height="200px">
					<td width="35%">
						<a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"></img></a>
					</td>

					<td width="65%">
						<h3>{{ sponsor.name }}</h3>
						{{ sponsor.description }}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endfor %}
</div>

<div class="normalsponsors">
{% for sponsorlevel in site.data.sponsor_levels %}
	<table width="100%" border="0px" cellpadding="20px" cellspacing="0px">
		<tr width="100%">
			<div style="padding-top: 15px; text-align: center;background: {{ sponsorlevel.color }}; color: white; height: 100%"><span><h1>{{ sponsorlevel.level }} Sponsors</h1></span></div>
		</tr>

		{% for sponsor in site.data.sponsors %}
			{% if sponsorlevel.level == sponsor.level %}
				<tr width="100%" height="200px">
					<td width="35%">
						<a href="{{ sponsor.link }}"><img src="{{ sponsor.logo }}"></img></a>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<h2>{{ sponsor.name }}</h2>
						{{ sponsor.description }}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endfor %}
</div>

<br>
<br>

<h3>Looking to sponsor Team 3128?</h3>
By sponsoring our team, you can help our team to continue to realize our dreams and allow our students to learn valuable skills.
<br>
<br>
<div onClick="javascript:location.href='/donate/'">
	<h4 align="center" class="newbutton hoverAnimate">Learn More</h4>
</div>
