<header class="site-header">
  <table style="position: relative; z-index: 2;" height="70px" cellpadding="0px" cellspacing="5px" width="100%">
    <tr>
      <td width="90px">
        <a href="{{ site.baseurl }}/"><img width="100%" src="/assets/header/logo.png"></img></a>
      </td>

      <td>
        <table cellspacing="0px" width="100%">
          <tr width="100%" height="70px">
            <td align="left" style="vertical-align: top;" align="center">
              <a class="site-title normaltitle" href="{{ site.baseurl }}/"><img src="/assets/header/wordmark.png" height="70px"></img></a>
              <a class="site-title smalltitle" href="{{ site.baseurl }}/"><img src="/assets/header/nummark.png" height="70px"></img></a>
            </td>
            <td onclick="togglemenu()" align="center" class="smallertab hover_animate" width="100%">
              <img src="/assets/graphics/subpagesicon.png" width="50px"></img>
            </td>
            <td class="trigger" align="right">
              <nav class="site-nav">
                <div>
                  <table cellspacing="0px" height="70px">
                    <tr>
                      {% for pages in site.data.pages %}
                        <td class="hover_animate" id="hover" onClick="javascript:location.href='{{ pages.permalink }}'" style="padding: 10px 20px 10px 20px;">
                          <a class="nounder page-link">
                            {{ pages.title }}
                          </a>
                        </td>
                      {% endfor %}
                    </tr>
                  </table>
                </div>
              </nav>
            </td>

            <script>
            $(document).ready(function() {
              $("#pagesdiv").css("height", "0px");
            });

            function togglemenu() {
              var sdiv = $("#pagesdiv");

              if (sdiv.css("height") == "0px") {
                sdiv.animate({height: $("#smallmenu").css("height")}, "fast");
              }
              else {
                sdiv.animate({height: '0px'}, "fast");
              }
            }
            </script>
          </tr>
        </table>
      </td>

      <td class="normalsocial" align="right" width="200px">
        <table cellspacing="10px">
          <tr height="45px">
            <td width="40">
              <a href="https://www.facebook.com/aluminumnarwhals?ref=hl">
                <img width="40"  id="facebook" src="/assets/header/social/facebook.png"></img>
              </a>
            </td>

            <td width="40">
              <a href="https://github.com/Team3128">
                <img width="40"  id="github" src="/assets/header/social/github.png"></img>
              </a>
            </td>
            <td width="40">
              <a href="https://www.instagram.com/3128aluminarwhals/">
                <img width="40"  id="instagram" src="/assets/header/social/instagram.png"></img>
              </a>
            </td>

            <td width="40">
              <a href="/contact/">
                <img width="40"  id="mail" src="/assets/header/social/mail.png"></img>
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <div id="pagesdiv">
    <table style="position: relative; z-index: 2;" id="smallmenu" cellspacing="0" width="100%">
      {% for page in site.data.pages %}
      <tr style="background:#038ec9;" width="100%" height="30px">
        <td class="hover_animate" id="hover" onClick="javascript:location.href='{{ page.permalink }}'" style="padding: 10px 20px 10px 20px;" align="center">
          <a style="color:white;" class="nounder page-link" href="{{ page.permalink }}">{{ page.title }}</a>
        </td>
      </tr>
      {% endfor %}


      <tr style="background:#0066cc;" width="100%" height="45px">
        <td style="padding: 0px;" align="center">
          <table cellspacing="10px">
            <tr height="45px">
              <td width="40">
                <a href="https://www.facebook.com/aluminumnarwhals?ref=hl">
                  <img width="40"  id="facebook" src="/assets/header/social/facebook.png"></img>
                </a>
              </td>

              <td width="40">
                <a href="https://github.com/Team3128">
                  <img width="40"  id="github" src="/assets/header/social/github.png"></img>
                </a>
              </td>
              <td width="40">
                <a href="https://www.instagram.com/3128aluminarwhals/">
                  <img width="40"  id="instagram" src="/assets/header/social/instagram.png"></img>
                </a>
              </td>

              <td width="40">
                <a href="/contact/">
                  <img width="40"  id="mail" src="/assets/header/social/mail.png"></img>
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</header>
