---
layout: subpage
title: Resources
subtitle: Budget
permalink: /resources/budget/
---

<h4>2016-17 Overall Spending Budget</h4>
<table style="width: 100%; font-size: 20px;" border="0px" cellpadding="5px" cellspacing="0px">
  {% for expense in site.data.expenses %}
    {% if expense.category == expense.name %}
      <tr style="color: white;background-color:#2a7ae2">
        <td width="50%">
          {{ expense.category }}
        </td>
        <td width="50%">
        </td>
      </tr>
    {% else %}
      <tr style="color: black;">
        <td style="text-align: right; background-color: #efefef" width="50%">
          {{ expense.name }}
        </td>
        <td style="text-align: right;" width="50%">
          {{ expense.cost }}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
  <tr style="color: black;">
    <td style="text-align: right; background-color: white" width="50%">
      <b>Total Cost</b>
    </td>
    <td style="text-align: right;" width="50%">
      <b>$50,072</b>
    </td>
  </tr>
</table>
<h4>2016-17 Competition Robot Estimated Cost</h4>
<table style="width: 100%; font-size: 20px;" border="0px" cellpadding="5px" cellspacing="0px">
  <tr style="color: white; background-color:#2a7ae2">
    <td width="50%">
      Robot Part
    </td>
    <td width="50%">
    </td>
  </tr>
  <tr style="color: black;">
    <td style="text-align: right; background-color: #efefef" width="50%">
      Raw Materials
    </td>
    <td style="text-align: right;" width="50%">
      $3,000
    </td>
  </tr>
  <tr style="color: black;">
    <td style="text-align: right; background-color: #efefef" width="50%">
      Electronics
    </td>
    <td style="text-align: right;" width="50%">
      $1,400
    </td>
    <tr style="color: black;">
      <td style="text-align: right; background-color: #efefef" width="50%">
        Drivetrain
      </td>
      <td style="text-align: right;" width="50%">
        $1,100
      </td>
    </tr>
    <tr style="color: black;">
      <td style="text-align: right; background-color: #efefef" width="50%">
        Gears and Gearboxes
      </td>
      <td style="text-align: right;" width="50%">
        $1,000
      </td>
    </tr>
    <tr style="color: black;">
      <td style="text-align: right; background-color: #efefef" width="50%">
        <b>Total Cost</b>
      </td>
      <td style="text-align: right;" width="50%">
        $6,500
      </td>
    </tr>
</table>
