#wrap {
  background: white;
}

body {
  background-repeat: no-repeat;
  background-position: left 0px;

  position: static;
}

@media screen and (min-width: 1600px) {
  body {
    background-size: contain;
  }
}

@media screen and (max-width: 1600px) {
  body {
    background-size: 1600px;
  }
}

@media screen and (max-width: 800px) {
  #pageimage {
    min-width: 800px;
  }
}

@media screen and (min-width: 800px) {
  #pageimage {
    min-width: 100%;
  }
}


.titleblue {
  background: #0078AD;
  padding: 20px;
}

@media screen and (min-width: 700px) {
  .leftimage {
    float: left;
    width: 300px;
    margin: 0px 30px 10px 0px;
  }
  .rightimage {
    float: right;
    width: 300px;
    margin: 0px 0px 10px 30px;
  }
  .verticalimage {
    float: left;
    width: 300px;
    margin: 0px 30px 10px 0px;
  }
}

@media screen and (max-width: 700px) {
  .leftimage {
    width: 100%;
  }
  .rightimage {
    width: 100%;
  }
  .verticalimage {
    width: 100%;
  }
}

.hover_animate {
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.button {
  align: center;
  padding: 6px;
  color:  white;
  font-weight: 600;
  font-family: $header-font-family;
  font-size: 20px;
  background: $light;

  border: 4px solid $light;

  border-radius: 30px;
  -webkit-border-radius: 30px;
}

.button:hover {
  background: white;
  color: $light;

  cursor: pointer;
}

.post-excerpt {
  text-align: left;
  vertical-align: top;

  padding-top: 5px;
}

.post-top {
  text-align: center;
  vertical-align: top;

  bottom: 0px;
}

.post-meta {
  text-align: center;
}

.indexpost {
  background: white;
  vertical-align: middle;
  padding: 25px;
}

.indexpost:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.indexpost:hover .small_card_image {
  opacity: .8;
}

.small_card_image {
  margin: 5px;
  margin-bottom: 10px;
  background: black;
}

.sponsor {
  background: white;
}

.sponsor:hover {
  background: #efefef;
  cursor: pointer;
}

.crossed {
  text-decoration: line-through;
  color: #d1d1d1;
}

.circle {
  color: white;
  font-size: 25px;
  font-weight: 600;
  vertical-align: middle;

  clip-path: circle(60px at center);
  -webkit-clip-path: circle(60px at center);
}

.circle.expanded {
  clip-path: circle(70px at center);
  -webkit-clip-path: circle(70px at center);
}

.circle:hover {
  clip-path: circle(70px at center);
  -webkit-clip-path: circle(70px at center);

  cursor: pointer;
}

.header_bar {
  color: white;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;

  background: $royal;
}
/* MARK: BEGIN CSS FOR PAGES WITH SUBPAGES */

#subHover {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#subHover:hover {
  background: #038ec9;
  color: white;
  cursor: pointer;
}

#subbutton {
  color: #0064C9;
  background: white;
  border-right: 2px solid #0064C9;
  border-top: 2px solid #0064C9;
  border-left: 2px solid #0064C9;
  display: inline-block;

  margin-bottom: 0px;

  padding-bottom: 4px;
}

#subbutton:hover {
  cursor: pointer;

  color: white;
  background: #0064C9;
}

#submenu {
  margin-bottom: 10px;
  border-bottom: 2px solid #0064C9;
  border-right: 2px solid #0064C9;
  border-left: 2px solid #0064C9;
}

#subdiv {
  overflow: hidden;
}

.tab {
  align: left;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  vertical-align: middle;
}

.tab:hover {
  background: #edf2f8;
  cursor: pointer;
}

.tabtext {
  color: black;
}

#tabbar {
  width: $sidebar-width;
}
#tabbar.stick {
  position: fixed;
  top: 0px;

  width: $sidebar-width;
}

.subtab:hover {
  cursor: pointer;
  background: #efefef;
}

.subtab {
  text-align: center;

  font-size: 24px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.tabline {
  height: 2px;
  margin-bottom: 10px;
  background: #0064C9;
}

.full_table {
  table-layout: fixed;
}

.sidebar-td {
  width: $sidebar-width;
}

@media screen and (max-width: $sidebar-width + $content-width + 100px) {
  #subbutton {
    display: block;
  }
  #tabbar {
    display: none;
  }
  .tabline {
    display: block;
  }

  .full_table {
    margin: -20px;
    margin-top: 10px;
  }

  .sidebar-td {
    display: none;
  }

  .contentdiv {
    width: 100%;
  }

  .allstuff {
    width: 100%;
  }

}

@media screen and (min-width: $sidebar-width + $content-width + 100px) {
  #subbutton {
    display: none;
  }
  #tabbar {
    display: table;
  }
  .tabline {
    display: none;
  }

  .full_table {
    margin: -20px;
  }
  .sidebar-td {
    display: table-cell;
  }

  .contentdiv {
    width: $content-width;
  }

  .allstuff {
    width: $sidebar-width + $content-width;
  }
}

/* MARK: END CSS FOR PAGES WITH SUBPAGES */

/* MARK: BEGIN CSS FOR HEADER */

.nounder:hover {
  text-decoration: none;
}

.nounder {
  text-transform: uppercase;
}

#smallmenu {
  display: table;
}

.dropdown_element {
  background: $light;
  color: white;
  padding: 15px;
}

.dropdown_element:hover {
  background: $royal;
  cursor: pointer;
}

.dropdown_social {
  width: 100%;
  height: 45px;
  background: $royal;
}


.menu_button:hover {
  background: $light;
  cursor: pointer;
}

#mail:hover {
  content: url(/assets/header/social/mail-selected.png);
  cursor: pointer;
}

#facebook:hover {
  content: url(/assets/header/social/facebook-selected.png);
  cursor: pointer;
}

#github:hover {
  content: url(/assets/header/social/github-selected.png);
  cursor: pointer;
}

#instagram:hover {
  content: url(/assets/header/social/instagram-selected.png);
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .trigger {
    display: none;
  }
  .dropdown_button {
    display: table-cell;
  }
  .normalsocial {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .trigger {
    display: table-cell;
  }
  .dropdown_button {
    display: none;
  }
  .normalsocial {
    display: table-cell;
  }
}

@media screen and (max-width: 1240px) {
  .normaltitle {
    display: none;
  }
  .smalltitle {
    display: none;
  }
}

@media screen and (max-width: 1390px) and (min-width: 1240px) {
  .normaltitle {
    display: none;
  }
  .smalltitle {
    display: block;
  }
}

@media screen and (min-width: 1390px) {
  .normaltitle {
    display: block;
  }
  .smalltitle {
    display: none;
  }
}

.dropdown_button {
  background: $royal;
}
.dropdown_button:hover {
  background: $light;
  cursor: pointer;
}

#pagesdiv {
  overflow: hidden;
}

/* MARK: END CSS FOR PAGES WITH HEADER */

/* MARK: BEGIN CSS FOR HOMEPAGE */

#center-text {
  vertical-align: middle;
  display: table-cell;
}

#up-text {
  vertical-align: top;
}

#inbox {
  vertical-align: middle;
  color: white;
}

.whatwedo-image-small {
  text-align: center;
  width: 100%;

  margin-bottom: 14px;

  img {
    max-width: 230px;
  }
}

@media screen and (min-width: 700px) {
  .whatwedo-image-large {
    display: table-cell;
  }
  .whatwedo-image-small {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .whatwedo-image-large {
    display: none;
  }
  .whatwedo-image-small {
    display: block;
  }
}

@media screen and (max-width: 1250px){
  .normwidthupdate {
    display: none;
  }
  .smallwidthupdate {
    display: table;
  }
}

@media screen and (min-width: 1250px) {
  .normwidthupdate {
    display: table;
  }
  .smallwidthupdate {
    display: none;
  }
}



@media screen and (max-width: 800px){
  .carouselTable {
    display: none;
  }
  #tiny {
    display: table;
  }
}

@media screen and (min-width: 800px) {
  .carouselTable {
    display: table;
  }
  #tiny {
    display:none;
  }
}

@media screen and (min-width: 900px) {
  .normwidthaction {
    display: table;
  }
  .smallwidthaction {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .normwidthaction {
    display: none;
  }
  .smallwidthaction {
    display: table;
  }
}

.card {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;

  display: inline;
  vertical-align: top;
  float: none;
  margin: 0px;
  padding: 0px;

  white-space:0;
}

.imageCard {
  float: left;
  margin: 0px;
  padding: 0px;
  white-space:0;
}

@keyframes carousel {
  0%    { left:0; }
  31%   { left:0; }
  35%   { left:-100%; }
  65%   { left:-100%; }
  69%   { left:-200%; }
  96%   { left:-200%; }
  100%  { left: 0% }
}

@-webkit-keyframes carousel {
  0%    { left:0; }
  31%   { left:0; }
  35%   { left:-100%; }
  65%   { left:-100%; }
  69%   { left:-200%; }
  96%   { left:-200%; }
  100%  { left: 0% }
}

.inlineblock {
  position: relative;
  left: 0px;

  display: flex;
  width: 100%;

  -webkit-animation: carousel 50s infinite; /* Chrome, Safari, Opera */
  animation: carousel 50s infinite;
}

.card:hover {
  cursor: pointer;
}

.cardInfo:hover {
  background: rgba(0, 0, 0, 0.85);
}

.cardInfo {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 0px;

  color: white;
  text-align: center;

  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;

  background: rgba(0, 0, 0, 0.65);
}

.cardTitle {
  text-shadow: 3px 3px 5px black;
  font-weight: bolder;
}

.cardInfoText {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.home {
  position: relative;
  left: 0px;
  right: 0px;
}

.indexpost {
  background: white;
}

.indexpost:hover {
  background: #e6e6e6;
  cursor: pointer;
}

/* MARK: END CSS FOR HOMEPAGE */

@media screen and (max-width: 830px) {
  .levels {
    display: none;
  }
  .mobilelevels {
    display: table;
  }
}

@media screen and (min-width: 830px) {
  .levels {
    display: table;
  }
  .mobilelevels {
    display: none;
  }
}
