---
layout: subpage
title: About
subtitle: Our Robots
permalink: /about/robots/
---
<table class="full_table" cellspacing="0px">
  {% for robot in site.data.our-robots %}
    <tr width="100%">
      <td style="text-align: left; vertical-align: top; background: {% if robot.color == 0 %} white {% else %} #efefef {% endif %}; padding: 15px">
        <img width="35%" style="float: left; margin-right: 10px; margin-bottom: 0px;" src="/assets/robots/{{ robot.year }}.png" />
        <h3>"{{ robot.name }}"</h3>
        <a href="{% if robot.year == 2017 %} http://www.firstinspires.org/resource-library/frc/competition-manual-qa-system {% else %}http://www.firstinspires.org/resource-library/frc/archived-game-documentation{% endif %}"><h4>{{ robot.year }} FRC Game: {{ robot.game }}</h4></a>
        {% if robot.stats == true %}
          <b>Dimensions: </b>{{ robot.dimensions }}
          <br>
          <b>Weight: </b>{{ robot.weight }}
          <br>
          <b>Top Speed: </b>{{ robot.speed }}
          <br>
        {% endif %}

        {{ robot.description }}
      </td>
    </tr>
  {% endfor %}
</table>
