---
layout: default
---

<style>
    #titleblue {
        background-color: #0078AD;
        padding: 20px;
    }

#button-text {
    color: white;
    vertical-align: middle;
    display: table-cell;
}
</style>

<article class="post">
    
    <div id="titleblue">
        <h1 id="button-text" class="post-title">{{ page.title }}</h1>
    </div>
    
    <table cellpadding="20px" width="100%" style="background-color: white;">
        <tr cellpadding="0px">
            <td cellpadding="0px">
                {{ content }}
            </td>
        </tr>
    </table>


</article>
