---
layout: default
---


<style>
    body {
        background: url("/resources/home_image.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }

#button-text {
    color: white;
    vertical-align: middle;
    display: table-cell;
}

#titleblue {
    background-color: #0078AD;
    padding: 20px;
}

#button {
    background-color: #025E86;
}

#hover:hover {
    background-color: #038ec9;
    color: white;
    padding: 15px;
    cursor: pointer;
}
</style>

<article class="post">
    <table style="background-color:#025E86;" cellpadding="15px" cellspacing="0" width="100%">
        <tr>
            <td align="center" id="hover" onClick="javascript:location.href='/parents/faq'">
                <h2 id="button-text">FAQ</h2>
            </td>
            <td align="center" id="hover" onClick="javascript:location.href='/parents/important-dates'">
                <h2 id="button-text">Important Dates</h2>
            </td>
            <td align="center" id="hover" onClick="javascript:location.href='/parents/calendar/'">
                <h2 id="button-text">Calendar</h2>
            </td>
            <td align="center" id="hover" onClick="javascript:location.href='/parents/volunteer/'">
                <h2 id="button-text">Volunteer</h2>
            </td>
            <td align="center" id="hover" onClick="javascript:location.href='/parents/donate/'">
                <h2 id="button-text">Donate</h2>
            </td>
        </tr>
    </table>
    <br>
    <div id="titleblue">
        <h1 id="button-text" class="post-title">{{ page.title }}</h1>
    </div>
    
    <table cellpadding="20px" width="100%" style="background-color: white;">
        <tr cellpadding="0px">
            <td cellpadding="0px">
                {{ content }}
            </td>
        </tr>
    </table>
</article>
