---
layout: default
---


<style>
#button {
    background-color: #025E86;
}

#subHover:hover {
    background-color: #038ec9;
    color: white;
    padding: 15px;
    cursor: pointer;
}
</style>

<br>
  <br>
  <br>
  <br>
  <div class="shadow">
<article class="post">
    <table cellspacing="0" width="100%">
    <tr>
        <td class="titleblue">
            <table width="100%">
                <tr width="100%">
                    <td>
                        <h1 class="button-text post-title">{{ page.title }}</h1>
                    </td>
                    <td width="80px">
                        <img id="tabicon" onclick="togglesubmenu()" src="/resources/menuicon.png" width="70px"></img>
                        <script>
                            function togglesubmenu() {
                                if (submenu.style.display == "none") {
                                    submenu.style.display = "table"
                                }
                                else {
                                    submenu.style.display = "none"
                                }
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table id="submenu" style="background-color:#025E86;display: none;" cellpadding="15px" cellspacing="0" width="100%">
        <tr>
            <td align="center" id="subHover" onClick="javascript:location.href='/parents/faq'">
                <h2 class="button-text">FAQ</h2>
            </td>
        </tr>
        <tr>
            <td align="center" id="subHover" onClick="javascript:location.href='/parents/important-dates'">
                <h2 class="button-text">Important Dates</h2>
            </td>
        </tr>
        <tr>
            <td align="center" id="subHover" onClick="javascript:location.href='/parents/calendar/'">
                <h2 class="button-text">Calendar</h2>
            </td>
        </tr>
        <tr>
            <td align="center" id="subHover" onClick="javascript:location.href='/parents/volunteer/'">
                <h2 class="button-text">Volunteer</h2>
            </td>
        </tr>
        <tr>
            <td align="center" id="subHover" onClick="javascript:location.href='/donate/'">
                <h2 class="button-text">Donate</h2>
            </td>
        </tr>
    </table>
    <table cellpadding="20px" width="100%" style="background-color: white;">
        <tr cellpadding="0px">
            <td cellpadding="0px">
                {{ content }}
            </td>
        </tr>
    </table>
</article>
</div>
