---
layout: default
---
<div id="wrap" class="subpagewrapper">

  <script>

    function sticky_relocate() {
      var window_top = $(window).scrollTop();
      var div_top = $('#tabbar').offset().top;

      var image_h = $('#pageimage').height() + 80;

      if (window_top > image_h) {
        $('#tabbar').addClass('stick');
      } else {
        $('#tabbar').removeClass('stick');
      }
    }


    $(document).ready(function() {
      $(window).scroll(sticky_relocate);
      sticky_relocate();
    });
  </script>

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <table style="background:white; z-index: 1; position: relative; height: 1px;" cellpadding="0px" cellspacing="0px" width="100%">
      <tr cellpadding="0px">
        <td class="sidebar-td" style="vertical-align: top; padding: 0px; background: #bfbfbf;">

          <table id="tabbar" cellspacing="10px" cellpadding="0px">
            <tr>
              <td class="indexpost hover_animate" style="padding: 10px; font-weight: bolder;vertical-align: middle;text-align: center;" onClick="javascript:location.href='/blog/'" >
                Latest Updates
              </td>
            </tr>
            {% for post in site.posts limit: 4 %}
            <tr>
              <td class="indexpost hover_animate" style="vertical-align: middle;" onClick="javascript:location.href='{{ post.url | prepend: site.baseurl }}'" >
                  <div style="margin: -10px; vertical-align: middle;" class="tabtext">
                    {{ post.title }}
                    <br>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}<br>{{ post.author }}</span>
                  </div>

              </td>
            </tr>
            {% endfor %}
          </table>

          <table cellspacing="0px" cellpadding="10px" width="150px">
            <tr>
              <td>
                <font color="#bfbfbf">Placeholder for Chrome</font>
              </td>
            </tr>
          </table>

        </td>
        <td style="padding: 20px;" style="width: 100%; height: 100%; vertical-align: top;">
          <div class="contentdiv" style="height: 100%;">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            <br>
            <br>
            {{ content }}
            <a href="/blog/"><div class="button hover_animate" style="text-align: center;"><h4>See more updates...</h4></div></a>
          </div>
        </td>
      </tr>
    </table>
  </article>
</div>
