---
layout: default
---
<style>
    #titleblue {
        background-color: #0078AD;
        padding: 20px;
    }

#button-text {
    color: white;
    vertical-align: middle;
    display: table-cell;
}
body {
    background: url("/resources/home_image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

</style>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<!--
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  -->
  
  <div id="titleblue">
      <h1 id="button-text" class="post-title">{{ page.title }}</h1>
  </div>
  
  <table cellpadding="20px" width="100%" style="background-color: white;">
      <tr cellpadding="0px">
          <td cellpadding="0px">
              <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
              
              {{ content }}
          </td>
      </tr>
  </table>

</article>
