---
layout: default
---

<style>
#button {
  background-color: #025E86;
}

#subHover:hover {
  background-color: #038ec9;
  color: white;
  cursor: pointer;
}

#subbutton {
  color: #0064C9;
  background: white;
  border-right: 2px solid #0064C9;
  border-top: 2px solid #0064C9;
  border-left: 2px solid #0064C9;
  display: inline-block;

  margin-bottom: 0px;
}

#subbutton:hover {
  cursor: pointer;

  color: white;
  background: #0064C9;
}

.valignmiddle {
  display: inline-block;
  vertical-align: top;

  font-size: 40px;
}

#submenu {
  margin-bottom: 10px;
  border-bottom: 2px solid #0064C9;
  border-right: 2px solid #0064C9;
  border-left: 2px solid #0064C9;
}

#subdiv {
  overflow: hidden;
}

#subHover {
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab {
  align: left;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  vertical-align: middle;
}

.topTab {
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}

.bottomTab {
  -moz-border-radius: 0px 0px 12px 12px;
  -webkit-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}

.tab:hover {
  background: #edf2f8;
  cursor: pointer;
}

.tabtext {
  color: black;
}

.aboveDiv {
  position: relative;
  z-index: 1;
}

#tabbar {
  position: absolute;
  left: 0px;
  z-index: 0;

  margin: 15px;

  float: right;

  background-color: white;

  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border-radius: 12px 12px 12px 12px;
}

#tabbar.stick {
  position: fixed;
  top: 0px;
  left: 0px;
}

.subtab:hover {
  cursor: pointer;
  color: grey;
}

.subtab {
  text-align: center;
}

@media screen and (max-width: 1300px) {
  #subbutton {
    display: block;
  }
  #tabbar {
    display: none;
  }
  .tabline {
    display: block;
  }
}

@media screen and (min-width: 1300px) {
  #subbutton {
    display: none;
  }
  #tabbar {
    display: table;
  }
  .tabline {
    display: none;
  }
}

</style>


<article class="post">
  <div id="tabbar">
    <table cellspacing="0px">
      {% for subpage in site.data.students-subpages %}
      {% if subpage.title == page.subtitle %}
      <tr>
        <td class="tab topTab hoverAnimate" style="font-weight: bolder; vertical-align: middle;" onClick="javascript:location.href='{{ subpage.permalink }}'" >
          <font class="tabtext">{{ subpage.title }}</font>
        </td>
      </tr>
      {% else %}
      <tr>
        <td class="tab bottomTab hoverAnimate" style="vertical-align: middle;" onClick="javascript:location.href='{{ subpage.permalink }}'" >
            <font class="tabtext">{{ subpage.title }}</font>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>

    <script>
      function sticky_relocate() {
        var window_top = $(window).scrollTop();
        var div_top = $('#tabbar').offset().top;

        var image_h = $('#pageimage').height() + 80;

        if (window_top > image_h) {
          $('#tabbar').addClass('stick');
        } else {
          $('#tabbar').removeClass('stick');
        }
      }


      $(document).ready(function() {
        $("#subdiv").css("height", "0px");
        $(window).scroll(sticky_relocate);
        sticky_relocate();
      });

      function togglesubmenu() {
        var sdiv = $("#subdiv");

        if (sdiv.css("height") == "0px") {
          sdiv.animate({height: $("#submenu").css("height")}, "fast");
        }
        else {
          sdiv.animate({height: '0px'}, "fast");
        }
      }
    </script>

    <table id="maincontenttable" style="background:white; z-index: 1; position: relative;" cellpadding="20px" width="100%">
      <tr cellpadding="0px">
          <td cellpadding="0px">
            <div class="hoverAnimate" id="subbutton" onclick="togglesubmenu()" align="center">
              <span class="valignmiddle">☰</span>
            </div>
            <div id="subdiv">
              <table cellpadding="0px" cellspacing="0px" id="submenu" width="100%">
                {% for subpage in site.data.students-subpages %}
                <tr>
                  <td class="subtab" onClick="javascript:location.href='{{ subpage.permalink }}'" >
                      <h3>{{ subpage.title }}</h3>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="tabline" style="height: 2px; margin: 0px; background: #0064C9"></div>
            {{ content }}
          </td>
        </tr>
    </table>
</article>
